*{
    margin: 0;
    padding: 0;
}

body {
    color: aqua;
    background-image: url("C:\my music\images\background image.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    background: rgba(76 , 175 , 80 , 0.3); 
    color: rgb(0, 0, 0);
    width: 30%;
    height: 30%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 20px 40px;
    


  
}

.container img {
    width: 100px;
}

.music {
    display: flex;
    flex-wrap: wrap;
}

#box-container {
    display: flex;
    flex-wrap: wrap;
}

ul {
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

ul h1{
font-size: 30px;
}